doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Test suit
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
  body
    .container-fluid
      .row
        table.table
          each r, code in tbl
            tr
              td(colspan=2)
                code=code

            each s in r
              tr
                td=s.browser
                td=s.result
